.carrito{
  margin-left: 21rem;
  cursor: pointer;
  margin-bottom: -30px;
  margin-top: -90px ;
  
}
.material-symbols-outlined {
  font-size: 30px;
}


.counter {
    color: #fff;
    display: flex;
    align-items: center;
    background-color: #e70f00;
    padding-right: 0.6em;
    padding-left: 0.6em;
    padding-top: -2px;
    border-radius: 10rem;
    margin-left: 22px;
    margin-top: -45px;  
    height: 20px;
    width: 6px;
}
@media (max-width: 768px)   {
  .carrito{
    margin-top: -25rem;
    margin-left: 18rem;
  }
    
}




